# SQL QUERY

In [1]:
from datetime import datetime

# docker run -p 3306:3306 -e MYSQL_ROOT_PASSWORD=atom_pass -e MYSQL_DATABASE=atom_db -h 127.0.0.1 -d mysql
# mysql -u root -D atom_db -h 127.0.0.1 -p
DB_CONFIG = {
    'username': 'root',
    'password': 'atom_pass',
    'host': '127.0.0.1',
    'dbname': 'atom_db',
}

In [2]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
# mysql+pymysql://username:password@server/db
app.config['SQLALCHEMY_DATABASE_URI'] = f"mysql+pymysql://{DB_CONFIG['username']}:{DB_CONFIG['password']}@{DB_CONFIG['host']}/{DB_CONFIG['dbname']}?charset=utf8"
app.config['SQLALCHEMY_ECHO'] = True
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = True
app.config['SQLALCHEMY_RECORD_QUERIES'] = True


db = SQLAlchemy(app)

In [3]:
app.config['SQLALCHEMY_DATABASE_URI']

'mysql+pymysql://root:atom_pass@127.0.0.1/atom_db?charset=utf8'

In [4]:
from sqlalchemy import text

# CREATE TABLE teacher (
# 	id INTEGER NOT NULL AUTO_INCREMENT, 
# 	name VARCHAR(80) NOT NULL, 
# 	surname VARCHAR(80) NOT NULL, 
# 	age INTEGER, 
# 	created DATETIME DEFAULT now(), 
# 	updated DATETIME DEFAULT now(), 
# 	PRIMARY KEY (id)
# )

class Teacher(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(80), nullable=False)
    surname = db.Column(db.String(80), nullable=False)
    age = db.Column(db.Integer())
    
    created = db.Column(db.DateTime, default=datetime.now, server_default=text('now()'))
    updated = db.Column(db.DateTime, default=datetime.now, onupdate=datetime.now, server_default=text('now()'))

    def __repr__(self):
        return f'{type(self).__name__} <{self.id}>=<{self.name}>'

In [5]:
db.create_all()

2019-04-11 18:51:13,677 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2019-04-11 18:51:13,678 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:51:13,682 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2019-04-11 18:51:13,683 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:51:13,687 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2019-04-11 18:51:13,689 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:51:13,692 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2019-04-11 18:51:13,693 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:51:13,696 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2019-04-11 18:51:13,697 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:51:13,699 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2019-04-11 18:51:13,700 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:51:13,702 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2019-04-11 18:51:13,702 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:51:13,705 INFO sqlalchemy.engine.base.Engine DESCRIBE `teacher`
2019-04-11 18:51:13,708 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:51:13,711 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-04-11 18:51:13,714 INFO sqlalchemy.engine.base.Engine
CREATE TABLE teacher (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(80) NOT NULL,
	surname VARCHAR(80) NOT NULL,
	age INTEGER,
	created DATETIME DEFAULT now(),
	updated DATETIME DEFAULT now(),
	PRIMARY KEY (id)
)


2019-04-11 18:51:13,715 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:51:13,743 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
teacher_Amir = Teacher(name='Amir', surname='Safiullin', age=20)
teacher_Zarina = Teacher(name='Zarina', surname='Sayfullina', age=20)
teacher_Misha = Teacher(name='Misha', surname='Baranov', age=20)
teacher_Ilya = Teacher(name='Ilya', surname='Lysko', age=20)

db.session.add(teacher_Amir)
db.session.add(teacher_Zarina)
db.session.add(teacher_Misha)
db.session.add(teacher_Ilya)
db.session.commit()

2019-04-11 18:51:16,833 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 18:51:16,837 INFO sqlalchemy.engine.base.Engine INSERT INTO teacher (name, surname, age, created, updated) VALUES (%(name)s, %(surname)s, %(age)s, %(created)s, %(updated)s)
2019-04-11 18:51:16,839 INFO sqlalchemy.engine.base.Engine {'name': 'Amir', 'surname': 'Safiullin', 'age': 20, 'created': datetime.datetime(2019, 4, 11, 18, 51, 16, 837039), 'updated': datetime.datetime(2019, 4, 11, 18, 51, 16, 837068)}
2019-04-11 18:51:16,842 INFO sqlalchemy.engine.base.Engine INSERT INTO teacher (name, surname, age, created, updated) VALUES (%(name)s, %(surname)s, %(age)s, %(created)s, %(updated)s)
2019-04-11 18:51:16,843 INFO sqlalchemy.engine.base.Engine {'name': 'Zarina', 'surname': 'Sayfullina', 'age': 20, 'created': datetime.datetime(2019, 4, 11, 18, 51, 16, 842323), 'updated': datetime.datetime(2019, 4, 11, 18, 51, 16, 842344)}
2019-04-11 18:51:16,852 INFO sqlalchemy.engine.base.Engine INSERT INTO teacher (name, surname, age, created, updated) VALUES (%(name)s, %(surname)s, %(age)s, %(created)s, %(updated)s)
2019-04-11 18:51:16,853 INFO sqlalchemy.engine.base.Engine {'name': 'Misha', 'surname': 'Baranov', 'age': 20, 'created': datetime.datetime(2019, 4, 11, 18, 51, 16, 852405), 'updated': datetime.datetime(2019, 4, 11, 18, 51, 16, 852433)}
2019-04-11 18:51:16,858 INFO sqlalchemy.engine.base.Engine INSERT INTO teacher (name, surname, age, created, updated) VALUES (%(name)s, %(surname)s, %(age)s, %(created)s, %(updated)s)
2019-04-11 18:51:16,860 INFO sqlalchemy.engine.base.Engine {'name': 'Ilya', 'surname': 'Lysko', 'age': 20, 'created': datetime.datetime(2019, 4, 11, 18, 51, 16, 858690), 'updated': datetime.datetime(2019, 4, 11, 18, 51, 16, 858711)}
2019-04-11 18:51:16,862 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
# SELECT * FROM teacher;
Teacher.query.all()

2019-04-11 18:51:19,983 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 18:51:19,993 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
2019-04-11 18:51:19,998 INFO sqlalchemy.engine.base.Engine {}

[Teacher <1>=<Amir>,
 Teacher <2>=<Zarina>,
 Teacher <3>=<Misha>,
 Teacher <4>=<Ilya>]

In [8]:
# SELECT * FROM teacher ORDER BY name;
Teacher.query.order_by(Teacher.name).all()

2019-04-11 18:51:22,104 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher ORDER BY teacher.name
2019-04-11 18:51:22,107 INFO sqlalchemy.engine.base.Engine {}

[Teacher <1>=<Amir>,
 Teacher <4>=<Ilya>,
 Teacher <3>=<Misha>,
 Teacher <2>=<Zarina>]

In [9]:
# SELECT * FROM teacher WHERE id=2;
Teacher.query.get(2)

Teacher <2>=<Zarina>

In [10]:
# SELECT id FROM teacher WHERE name='Zarina';
t = Teacher.query.filter_by(name='Zarina')

In [11]:
t.all()

2019-04-11 18:51:27,093 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
2019-04-11 18:51:27,097 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina'}

[Teacher <2>=<Zarina>]

In [12]:
import enum
class ThreadEnum(enum.Enum):
    web = 'web'
    ml = 'ml'
    
    def __repr__(self):
        return self.value
    
# CREATE TABLE teacher_lecture (
# 	teacher_id INTEGER NOT NULL, 
# 	lecture_id INTEGER NOT NULL, 
# 	PRIMARY KEY (teacher_id, lecture_id), 
# 	FOREIGN KEY(teacher_id) REFERENCES teacher (id), 
# 	FOREIGN KEY(lecture_id) REFERENCES lecture (id)
# )
    
TeacherLecture = db.Table('teacher_lecture',
    db.Column('teacher_id', db.Integer, db.ForeignKey('teacher.id'), primary_key=True),
    db.Column('lecture_id', db.Integer, db.ForeignKey('lecture.id'), primary_key=True)
)

# CREATE TABLE lecture (
# 	id INTEGER NOT NULL AUTO_INCREMENT, 
# 	name VARCHAR(80) NOT NULL, 
# 	thread ENUM('web','ml'), 
# 	alias VARCHAR(80), 
# 	PRIMARY KEY (id)
# )

class Lecture(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(80), nullable=False)
    thread = db.Column(db.Enum(ThreadEnum))
    alias = db.Column(db.String(80))
    
    teachers = db.relationship(Teacher, secondary=TeacherLecture, lazy='subquery',
        backref=db.backref('lectures', lazy=True))
    

    def __repr__(self):
        return f'{type(self).__name__} <{self.id}>=<{self.name}>'

In [13]:
db.create_all()

2019-04-11 18:51:32,575 INFO sqlalchemy.engine.base.Engine DESCRIBE `teacher`
2019-04-11 18:51:32,578 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:51:32,582 INFO sqlalchemy.engine.base.Engine DESCRIBE `teacher_lecture`
2019-04-11 18:51:32,584 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:51:32,587 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-04-11 18:51:32,589 INFO sqlalchemy.engine.base.Engine DESCRIBE `lecture`
2019-04-11 18:51:32,592 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:51:32,594 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-04-11 18:51:32,598 INFO sqlalchemy.engine.base.Engine
CREATE TABLE lecture (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(80) NOT NULL,
	thread ENUM('web','ml'),
	alias VARCHAR(80),
	PRIMARY KEY (id)
)


2019-04-11 18:51:32,599 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:51:32,629 INFO sqlalchemy.engine.base.Engine COMMIT
2019-04-11 18:51:32,633 INFO sqlalchemy.engine.base.Engine
CREATE TABLE teacher_lecture (
	teacher_id INTEGER NOT NULL,
	lecture_id INTEGER NOT NULL,
	PRIMARY KEY (teacher_id, lecture_id),
	FOREIGN KEY(teacher_id) REFERENCES teacher (id),
	FOREIGN KEY(lecture_id) REFERENCES lecture (id)
)


2019-04-11 18:51:32,634 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:51:32,677 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
for row in [
    ('lecture_01', None, 'lecture_01'),
    ('lecture_02', None, 'lecture_02'),
    ('lecture_03', None, 'lecture_03'),
    ('lecture_04', None, 'lecture_04'),
    ('lecture_05', ThreadEnum.web, 'lecture_05_web'),
    ('lecture_06', ThreadEnum.ml, 'lecture_05_ml'),
    ('lecture_07', ThreadEnum.web, 'lecture_06_web'),
    ('lecture_08', ThreadEnum.ml, 'lecture_06_ml'),
    ('lecture_09', ThreadEnum.web, 'lecture_07_web'),
    ('lecture_10', ThreadEnum.ml, 'lecture_07_ml'),
    ('lecture_11', ThreadEnum.web, 'lecture_08_web'),
    ('lecture_12', ThreadEnum.ml, 'lecture_08_ml'),
    ('lecture_13', ThreadEnum.web, 'lecture_09_web'),
    ('lecture_14', ThreadEnum.ml, 'lecture_09_ml'),
    ('lecture_15', ThreadEnum.web, 'lecture_10_web'),
    ('lecture_16', ThreadEnum.ml, 'lecture_10_ml'),
]:
    db.session.add(Lecture(name=row[0], thread=row[1], alias=row[2]))
db.session.commit()

2019-04-11 18:51:35,154 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,156 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_01', 'thread': None, 'alias': 'lecture_01'}
2019-04-11 18:51:35,159 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,160 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_02', 'thread': None, 'alias': 'lecture_02'}
2019-04-11 18:51:35,163 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,164 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_03', 'thread': None, 'alias': 'lecture_03'}
2019-04-11 18:51:35,169 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,170 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_04', 'thread': None, 'alias': 'lecture_04'}
2019-04-11 18:51:35,172 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,173 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_05', 'thread': 'web', 'alias': 'lecture_05_web'}
2019-04-11 18:51:35,175 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,176 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_06', 'thread': 'ml', 'alias': 'lecture_05_ml'}
2019-04-11 18:51:35,178 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,179 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_07', 'thread': 'web', 'alias': 'lecture_06_web'}
2019-04-11 18:51:35,181 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,182 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_08', 'thread': 'ml', 'alias': 'lecture_06_ml'}
2019-04-11 18:51:35,186 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,187 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_09', 'thread': 'web', 'alias': 'lecture_07_web'}
2019-04-11 18:51:35,190 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,192 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_10', 'thread': 'ml', 'alias': 'lecture_07_ml'}
2019-04-11 18:51:35,194 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,196 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_11', 'thread': 'web', 'alias': 'lecture_08_web'}
2019-04-11 18:51:35,198 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,199 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_12', 'thread': 'ml', 'alias': 'lecture_08_ml'}
2019-04-11 18:51:35,202 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,203 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_13', 'thread': 'web', 'alias': 'lecture_09_web'}
2019-04-11 18:51:35,205 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,206 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_14', 'thread': 'ml', 'alias': 'lecture_09_ml'}
2019-04-11 18:51:35,208 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,208 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_15', 'thread': 'web', 'alias': 'lecture_10_web'}
2019-04-11 18:51:35,210 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)
2019-04-11 18:51:35,211 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_16', 'thread': 'ml', 'alias': 'lecture_10_ml'}
2019-04-11 18:51:35,213 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
from sqlalchemy import or_

for name, lectures in [
    ('Misha', ('01', '03', '04', '05_ml')),
    ('Zarina', ('02', '04', '05_web', '06_web', '07_web')),
]:
    # SELECT * FROM teacher WHERE name=<name>;
    teacher = Teacher.query.filter_by(name=name).first()
    conds = [
        Lecture.alias.like(f'%{alias_postfix}')
        for alias_postfix in lectures
    ]
    # SELECT * FROM lecture WHERE alias LIKE '%<alias_postfix>' OR alias LIKE '%<alias_postfix>' OR ...;
    teacher.lectures = Lecture.query.filter(or_(*conds)).all()
db.session.commit()

2019-04-11 18:51:39,091 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 18:51:39,094 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s
2019-04-11 18:51:39,095 INFO sqlalchemy.engine.base.Engine {'name_1': 'Misha', 'param_1': 1}
2019-04-11 18:51:39,104 INFO sqlalchemy.engine.base.Engine SELECT lecture.id AS lecture_id, lecture.name AS lecture_name, lecture.thread AS lecture_thread, lecture.alias AS lecture_alias
FROM lecture
WHERE lecture.alias LIKE %(alias_1)s OR lecture.alias LIKE %(alias_2)s OR lecture.alias LIKE %(alias_3)s OR lecture.alias LIKE %(alias_4)s
2019-04-11 18:51:39,105 INFO sqlalchemy.engine.base.Engine {'alias_1': '%01', 'alias_2': '%03', 'alias_3': '%04', 'alias_4': '%05_ml'}
2019-04-11 18:51:39,109 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated, anon_1.lecture_id AS anon_1_lecture_id
FROM (SELECT lecture.id AS lecture_id
FROM lecture
WHERE lecture.alias LIKE %(alias_1)s OR lecture.alias LIKE %(alias_2)s OR lecture.alias LIKE %(alias_3)s OR lecture.alias LIKE %(alias_4)s) AS anon_1 INNER JOIN teacher_lecture AS teacher_lecture_1 ON anon_1.lecture_id = teacher_lecture_1.lecture_id INNER JOIN teacher ON teacher.id = teacher_lecture_1.teacher_id ORDER BY anon_1.lecture_id
2019-04-11 18:51:39,111 INFO sqlalchemy.engine.base.Engine {'alias_1': '%01', 'alias_2': '%03', 'alias_3': '%04', 'alias_4': '%05_ml'}
2019-04-11 18:51:39,116 INFO sqlalchemy.engine.base.Engine SELECT lecture.id AS lecture_id, lecture.name AS lecture_name, lecture.thread AS lecture_thread, lecture.alias AS lecture_alias
FROM lecture, teacher_lecture
WHERE %(param_1)s = teacher_lecture.teacher_id AND lecture.id = teacher_lecture.lecture_id
2019-04-11 18:51:39,117 INFO sqlalchemy.engine.base.Engine {'param_1': 3}
2019-04-11 18:51:39,122 INFO sqlalchemy.engine.base.Engine INSERT INTO teacher_lecture (teacher_id, lecture_id) VALUES (%(teacher_id)s, %(lecture_id)s)
2019-04-11 18:51:39,123 INFO sqlalchemy.engine.base.Engine ({'teacher_id': 3, 'lecture_id': 1}, {'teacher_id': 3, 'lecture_id': 3}, {'teacher_id': 3, 'lecture_id': 4}, {'teacher_id': 3, 'lecture_id': 6})
2019-04-11 18:51:39,127 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s
2019-04-11 18:51:39,128 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina', 'param_1': 1}
2019-04-11 18:51:39,133 INFO sqlalchemy.engine.base.Engine SELECT lecture.id AS lecture_id, lecture.name AS lecture_name, lecture.thread AS lecture_thread, lecture.alias AS lecture_alias
FROM lecture
WHERE lecture.alias LIKE %(alias_1)s OR lecture.alias LIKE %(alias_2)s OR lecture.alias LIKE %(alias_3)s OR lecture.alias LIKE %(alias_4)s OR lecture.alias LIKE %(alias_5)s
2019-04-11 18:51:39,136 INFO sqlalchemy.engine.base.Engine {'alias_1': '%02', 'alias_2': '%04', 'alias_3': '%05_web', 'alias_4': '%06_web', 'alias_5': '%07_web'}
2019-04-11 18:51:39,140 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated, anon_1.lecture_id AS anon_1_lecture_id
FROM (SELECT lecture.id AS lecture_id
FROM lecture
WHERE lecture.alias LIKE %(alias_1)s OR lecture.alias LIKE %(alias_2)s OR lecture.alias LIKE %(alias_3)s OR lecture.alias LIKE %(alias_4)s OR lecture.alias LIKE %(alias_5)s) AS anon_1 INNER JOIN teacher_lecture AS teacher_lecture_1 ON anon_1.lecture_id = teacher_lecture_1.lecture_id INNER JOIN teacher ON teacher.id = teacher_lecture_1.teacher_id ORDER BY anon_1.lecture_id
2019-04-11 18:51:39,140 INFO sqlalchemy.engine.base.Engine {'alias_1': '%02', 'alias_2': '%04', 'alias_3': '%05_web', 'alias_4': '%06_web', 'alias_5': '%07_web'}
2019-04-11 18:51:39,144 INFO sqlalchemy.engine.base.Engine SELECT lecture.id AS lecture_id, lecture.name AS lecture_name, lecture.thread AS lecture_thread, lecture.alias AS lecture_alias
FROM lecture, teacher_lecture
WHERE %(param_1)s = teacher_lecture.teacher_id AND lecture.id = teacher_lecture.lecture_id
2019-04-11 18:51:39,145 INFO sqlalchemy.engine.base.Engine {'param_1': 2}
2019-04-11 18:51:39,148 INFO sqlalchemy.engine.base.Engine INSERT INTO teacher_lecture (teacher_id, lecture_id) VALUES (%(teacher_id)s, %(lecture_id)s)
2019-04-11 18:51:39,149 INFO sqlalchemy.engine.base.Engine ({'teacher_id': 2, 'lecture_id': 2}, {'teacher_id': 2, 'lecture_id': 4}, {'teacher_id': 2, 'lecture_id': 5}, {'teacher_id': 2, 'lecture_id': 7}, {'teacher_id': 2, 'lecture_id': 9})
2019-04-11 18:51:39,155 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
# RAW SQL
result = db.engine.execute('SELECT name FROM teacher')
names = [row[0] for row in result]
print(names)

2019-04-11 18:51:43,247 INFO sqlalchemy.engine.base.Engine SELECT name FROM teacher
2019-04-11 18:51:43,250 INFO sqlalchemy.engine.base.Engine {}
['Amir', 'Zarina', 'Misha', 'Ilya']

In [17]:
from sqlalchemy import func

# SELECT min AS first_create FROM teacher
db.session.query(func.min(Teacher.created).label('first_create')).all()

2019-04-11 18:51:46,656 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 18:51:46,662 INFO sqlalchemy.engine.base.Engine SELECT min(teacher.created) AS first_create
FROM teacher
2019-04-11 18:51:46,666 INFO sqlalchemy.engine.base.Engine {}

[(datetime.datetime(2019, 4, 11, 18, 51, 17))]

In [18]:
# SELECT teacher_id AS teacher, count(lecture_id) FROM teacher_lecture GROUP BY teacher_id
db.session.query(Teacher.name.label('teacher'), func.count(Lecture.id)).join(Teacher.lectures).group_by(Teacher.id).all()

2019-04-11 18:51:48,353 INFO sqlalchemy.engine.base.Engine SELECT teacher.name AS teacher, count(lecture.id) AS count_1
FROM teacher INNER JOIN teacher_lecture AS teacher_lecture_1 ON teacher.id = teacher_lecture_1.teacher_id INNER JOIN lecture ON lecture.id = teacher_lecture_1.lecture_id GROUP BY teacher.id
2019-04-11 18:51:48,361 INFO sqlalchemy.engine.base.Engine {}

[('Zarina', 5), ('Misha', 4)]

In [19]:
# RAW SQL
result = db.engine.execute(
    '''
    SELECT t.name AS teacher, count(lecture_id)
    FROM teacher_lecture as tl
    INNER JOIN teacher as t ON tl.teacher_id=t.id
    GROUP BY teacher_id
    '''
)
result

2019-04-11 18:51:51,266 INFO sqlalchemy.engine.base.Engine
    SELECT t.name AS teacher, count(lecture_id)
    FROM teacher_lecture as tl
    INNER JOIN teacher as t ON tl.teacher_id=t.id
    GROUP BY teacher_id

2019-04-11 18:51:51,270 INFO sqlalchemy.engine.base.Engine {}

In [20]:
[row for row in result]

[('Zarina', 5), ('Misha', 4)]

# UPDATE

In [21]:
Teacher.query.filter_by(name='Zarina').first().age

2019-04-11 18:51:55,209 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s
2019-04-11 18:51:55,216 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina', 'param_1': 1}

20

In [22]:
Teacher.query.filter_by(name='Zarina').update({'age': '22'})
db.session.commit()
Teacher.query.filter_by(name='Zarina').first().age
db.session.commit()

2019-04-11 18:51:57,761 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:51:57,763 INFO sqlalchemy.engine.base.Engine {'param_1': 4}
2019-04-11 18:51:57,768 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:51:57,770 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-04-11 18:51:57,776 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:51:57,777 INFO sqlalchemy.engine.base.Engine {'param_1': 3}
2019-04-11 18:51:57,781 INFO sqlalchemy.engine.base.Engine UPDATE teacher SET age=%(age)s, updated=%(updated)s WHERE teacher.name = %(name_1)s
2019-04-11 18:51:57,782 INFO sqlalchemy.engine.base.Engine {'age': '22', 'updated': datetime.datetime(2019, 4, 11, 18, 51, 57, 781479), 'name_1': 'Zarina'}
2019-04-11 18:51:57,785 INFO sqlalchemy.engine.base.Engine COMMIT
2019-04-11 18:51:57,795 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 18:51:57,796 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s
2019-04-11 18:51:57,797 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina', 'param_1': 1}
2019-04-11 18:51:57,800 INFO sqlalchemy.engine.base.Engine COMMIT

In [23]:
db.engine.execute("UPDATE teacher SET age=21 WHERE name='Zarina'")

2019-04-11 18:52:00,035 INFO sqlalchemy.engine.base.Engine UPDATE teacher SET age=21 WHERE name='Zarina'
2019-04-11 18:52:00,044 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:52:00,053 INFO sqlalchemy.engine.base.Engine COMMIT

In [24]:
Teacher.query.filter_by(name='Zarina').first().age

2019-04-11 18:52:01,906 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 18:52:01,910 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s
2019-04-11 18:52:01,912 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina', 'param_1': 1}

21

# DELETE

In [25]:
Teacher.query.filter_by(name='Zarina').delete()

2019-04-11 18:52:05,835 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:52:05,838 INFO sqlalchemy.engine.base.Engine {'param_1': 4}
2019-04-11 18:52:05,850 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:52:05,854 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-04-11 18:52:05,864 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:52:05,867 INFO sqlalchemy.engine.base.Engine {'param_1': 3}
2019-04-11 18:52:05,875 INFO sqlalchemy.engine.base.Engine DELETE FROM teacher WHERE teacher.name = %(name_1)s
2019-04-11 18:52:05,878 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina'}

IntegrityError: (pymysql.err.IntegrityError) (1451, 'Cannot delete or update a parent row: a foreign key constraint fails (`atom_db`.`teacher_lecture`, CONSTRAINT `teacher_lecture_ibfk_1` FOREIGN KEY (`teacher_id`) REFERENCES `teacher` (`id`))')
[SQL: DELETE FROM teacher WHERE teacher.name = %(name_1)s]
[parameters: {'name_1': 'Zarina'}]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [26]:
db.session.add(Teacher(name='Test', surname='Abc', age=20))
db.session.commit()

2019-04-11 18:52:10,604 INFO sqlalchemy.engine.base.Engine INSERT INTO teacher (name, surname, age, created, updated) VALUES (%(name)s, %(surname)s, %(age)s, %(created)s, %(updated)s)
2019-04-11 18:52:10,612 INFO sqlalchemy.engine.base.Engine {'name': 'Test', 'surname': 'Abc', 'age': 20, 'created': datetime.datetime(2019, 4, 11, 18, 52, 10, 603796), 'updated': datetime.datetime(2019, 4, 11, 18, 52, 10, 603854)}
2019-04-11 18:52:10,627 INFO sqlalchemy.engine.base.Engine COMMIT

In [27]:
qs = Teacher.query.filter_by(name='Test')

In [28]:
qs.all()

2019-04-11 18:52:13,783 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 18:52:13,791 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
2019-04-11 18:52:13,797 INFO sqlalchemy.engine.base.Engine {'name_1': 'Test'}

[Teacher <5>=<Test>]

In [29]:
qs.first()

2019-04-11 18:52:16,667 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s
2019-04-11 18:52:16,671 INFO sqlalchemy.engine.base.Engine {'name_1': 'Test', 'param_1': 1}

Teacher <5>=<Test>

In [30]:
qs.delete()

2019-04-11 18:52:18,883 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:52:18,890 INFO sqlalchemy.engine.base.Engine {'param_1': 4}
2019-04-11 18:52:18,907 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:52:18,908 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-04-11 18:52:18,916 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:52:18,917 INFO sqlalchemy.engine.base.Engine {'param_1': 3}
2019-04-11 18:52:18,924 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 18:52:18,925 INFO sqlalchemy.engine.base.Engine {'param_1': 2}
2019-04-11 18:52:18,929 INFO sqlalchemy.engine.base.Engine DELETE FROM teacher WHERE teacher.name = %(name_1)s
2019-04-11 18:52:18,930 INFO sqlalchemy.engine.base.Engine {'name_1': 'Test'}

1

# Session and transaction

In [31]:
from contextlib import contextmanager
from functools import wraps


@contextmanager
def transaction(session=db.session):
    session.begin(nested=session.is_active)
    try:
        yield
    except:
        session.rollback()
        raise
    else:
        session.commit()


def transactional(f):
    @wraps(f)
    def wrapper(*args, **kwargs):
        with transaction():
            return f(*args, **kwargs)
    return wrapper

In [32]:
with transaction():
    Teacher.query.filter_by(name='Zarina').update({'age': '22'})

2019-04-11 18:52:26,479 INFO sqlalchemy.engine.base.Engine SAVEPOINT sa_savepoint_1
2019-04-11 18:52:26,481 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 18:52:26,484 INFO sqlalchemy.engine.base.Engine UPDATE teacher SET age=%(age)s, updated=%(updated)s WHERE teacher.name = %(name_1)s
2019-04-11 18:52:26,485 INFO sqlalchemy.engine.base.Engine {'age': '22', 'updated': datetime.datetime(2019, 4, 11, 18, 52, 26, 484276), 'name_1': 'Zarina'}
2019-04-11 18:52:26,487 INFO sqlalchemy.engine.base.Engine RELEASE SAVEPOINT sa_savepoint_1
2019-04-11 18:52:26,490 INFO sqlalchemy.engine.base.Engine {}

In [33]:
from contextlib import contextmanager

from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker


some_engine = create_engine(app.config['SQLALCHEMY_DATABASE_URI'])

Session = sessionmaker(bind=some_engine)

@contextmanager
def transaction(session=None):
    session = session or Session()
    session.begin(nested=session.is_active)
    try:
        yield session
    except:
        session.rollback()
        raise
    else:
        session.commit()

In [34]:
with transaction() as session:
    for teacher in session.query(Teacher):
        print(teacher)

Teacher <1>=<Amir>
Teacher <2>=<Zarina>
Teacher <3>=<Misha>
Teacher <4>=<Ilya>
Teacher <5>=<Test>

In [35]:
# TODO
# 1. Создать модель эквивалентно
# CREATE TABLE student (
# 	id INTEGER NOT NULL AUTO_INCREMENT,
# 	created DATETIME DEFAULT now(), 
# 	updated DATETIME DEFAULT now(),
# 	name VARCHAR(80) NOT NULL, 
# 	surname VARCHAR(80) NOT NULL, 
# 	course_number INTEGER NOT NULL,
# 	thread enum('web','ml') DEFAULT NULL,
# 	last_updated DATETIME,
# 	PRIMARY KEY (id)
# )
# 
# 2.Подключиться к БД с настройками:
#     'username': 'root'
#     'password': 'atom_pass'
#     'host': 'Скажу на паре'
#     'dbname': 'atom_db'
# 
# 3. Через ORM вставит запись в таблицу student
# 
# 4. Через ORM получить время последнего обновления таблицы student
#    SELECT MAX(updated) FROM student
# 
# 5. Через ORM обновить свою запись заполнив колонку last_updated вставив в нее значение из пункта 4
#

# Validation

In [14]:
from datetime import date
from marshmallow import Schema, fields, pprint

class TeacherSchema(Schema):
    name = fields.Str(required=True)
    surname = fields.Str()

    
data = {'surname': 123}
result = TeacherSchema().load(data)

MarshalResult(data={'name': '123'}, errors={})

In [16]:
# Валидация
data = {'surname': 123}
TeacherSchema().load(data)

UnmarshalResult(data={}, errors={'surname': ['Not a valid string.'], 'name': ['Missing data for required field.']})

In [18]:
# Загрузка валидных данных
data = {'surname': 123}
TeacherSchema().dump(data)

MarshalResult(data={'surname': '123'}, errors={})